<!doctype html>
<head>
    <title>Colony Farm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <h1 class="col-md-offset-1">Colony Farm</h1>
    <h2 class="col-md-offset-1">Startup Cost Projections</h2>
    <br>

    <form class="form-horizontal col-md-offset-2" role="form" method="post" action="/startup_cost">
        <div class="form-group">
            <label class="control-label col-md-3" for="rent">average wages/month ($):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="wages" name="wages" value="{{data['wages']}}">
            </div>
            <label class="control-label col-md-3" for="employees">number employees:</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="employees" name="employees" value="{{data['employees']}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="rent">rent/month ($):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="rent" name="rent" value="{{data['rent']}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="kg-feed-price">price/kg feed ($):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="kg-feed-price" name="kg_feed_price" value="{{data['kg_feed_price']}}">
            </div>
            <label class="control-label col-md-3">cycle time (weeks):</label>
            <div class="col-md-2">
                <input type="number" class="form-control" value="{{data['cycle_time']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="feed-per-kg">kg feed/kg crickets:</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="feed-per-kg" name="feed_per_kg" value="{{data['feed_per_kg']}}">
            </div>
            <label class="control-label col-md-3">feed cost/kg ($):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" value="{{data['feed_cost_kg']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="kg-cricket-price">price/kg crickets ($):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="kg-cricket-price" name="kg_cricket_price" value="{{data['kg_cricket_price']}}">
            </div>
            <label class="control-label col-md-3">profit/kg crickets ($):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" value="{{data['kg_profit']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="crickets-per-kg">crickets/kg:</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="crickets-per-kg" name="crickets_per_kg" value="{{data['crickets_per_kg']}}">
            </div>
            <label class="control-label col-md-3">kg/month to break even:</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" value="{{data['break_even_kg']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="eggs-per-female">eggs/female:</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="eggs-per-female" name="eggs_per_female" value="{{data['eggs_per_female']}}">
            </div>
            <label class="control-label col-md-3">crickets/month to break even:</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" value="{{data['break_even_crickets']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="hatch-rate">egg hatch rate (decimal):</label>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" id="hatch-rate" name="hatch_rate" value="{{data['hatch_rate']}}">
            </div>
            <label class="control-label col-md-3">minimum cohort size (crickets to sell + repopulate):</label>
            <div class="col-md-2">
                <input type="number" class="form-control" value="{{data['minimum_cohort_size']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="start-crickets">starting crickets:</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="start-crickets" name="start_crickets" value="{{data['start_crickets']}}">
            </div>
            <label class="control-label col-md-3">scaled cohort size (scaling factor * min cohort):</label>
            <div class="col-md-2">
                <input type="number" class="form-control" value="{{data['scaled_cohort_size']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="scaling-factor">scaling factor:</label>
            <div class="col-md-2">
                <input type="number" step="0.1" class="form-control" id="scaling-factor" name="scaling_factor" value="{{data['scaling_factor']}}">
            </div>
            <label class="control-label col-md-offest-5 col-md-3">months to break even:</label>
            <div class="col-md-2">
                <input type="number" class="form-control" value="{{data['months_to_break_even']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-offset-5 col-md-3">seed money to get started ($):</label>
            <div class="col-md-2">
                <input type="number" class="form-control" value="{{data['seed']}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-2">
                <button type="submit" class="btn btn-sm btn-success">Recalculate</button>
            </div>
        </div>
    </form>
    <img class="col-md-offset-3" src="data:image/png;base64,{{graph}}" />
</body>
